* {
  font-family: 'Cairo', sans-serif;
}

i{
  color:gray;
  font-size: small;
  text-transform: lowercase;
  padding: 10px;
}

.arriba{
  color: white;
  text-align: center;
  background-color: cornflowerblue;
  padding: 5px;
  margin: 0%;
}

#carrito{
  position: relative;
  left: 60%;
  bottom: 120px;
  color:rgb(44, 44, 44);
  padding: 10px;
  border-style: solid;
  border-width: 0.1mm;
  border-color: lightgray;
}

#carrito:hover{
  background-color: cornflowerblue;
  cursor: pointer;
  transition: 0.3s;
}

header{
  background-color: white;
}

body {
  background: white;
  margin: 0%;
  
 }

.logo{
  position: sticky;
  left: 40%;
}

.navMenu{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: cornflowerblue;
}

.navMenu a {  
  text-align: center;
  
  color: rgb(44, 44, 44);
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}



.navMenu a:hover {
  color:black;
}
.linea{
    border-top: 0.1px solid lightgray;
    height: 0.1px;
    padding: 0;
}   

.encabezado{
  margin-left: 10%;
}



hr{
  height: 0.1px;
  width: 75%;
  margin-top: 50px;
  
}

.banner{
  width: 70%;
  height: 70%;  
  margin: auto 15% auto;
}

.titulosinicio{
  color: rgb(44, 44, 44);
  font-size:50px;
  font-style: italic;
  text-align: center;
}

.contenido {
  display: grid;
  gap: 30px; 
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-content: space-around;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.card{
  overflow: hidden;
  margin: 15px;
  width: 220px;
  height: 380px;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: cornflowerblue;
}



.card:hover{
  transition: 0.4s;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.1),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
  cursor: pointer; 
  text-decoration: underline;
  border-radius: 10px ;
}
.image{
  width: 100%;
  height: 210px;
  
  
}

.label{
  text-align: center;

}

.descripcion{
  font-size: medium;
  font-weight: 500;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px 60px 5px;
  border-radius: 100px;
  border-style: none;
  background-color: cornflowerblue;
  cursor: pointer;
}
.descripcion:hover{
  transition: 0.3s;
  background-color: rgb(0, 80, 117)
  
}

.descripcion2{
  color: white;
  font-size: medium;
  font-weight: 500;

  padding: 5px 60px 5px;
  border-radius: 100px;
  border-style: none;
  background-color: rgb(44, 44, 44);
  cursor: pointer;
}
.descripcion2:hover{
  transition: 0.3s;
  background-color: white;
  color: rgb(44, 44, 44);
  border-color: rgb(44, 44, 44);
  border-style: solid;
}

footer{
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  padding: 10px;

  margin: auto 0 0;
}



/*formulario*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#consulta{
  width: 100%;
  height:80px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  margin: auto 50px auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
